@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
.main-container{
    background: rgb(161,121,0);
    background: rgb(161,121,0);
    background: linear-gradient(117deg, rgb(114, 85, 0) 0%, rgba(0,0,0,1) 29%, rgb(114, 85, 0) 72%, rgba(0,0,0,1) 100%);    
    box-shadow:inset 0px 0px 3px 4px #414141;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    align-content: center;
    width: 100%;
    height: fit-content;
    min-height: 75vh;
    padding: 2em;
}

h1{
    color: rgb(121, 121, 121);
    padding: 0.5em;
}